.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c35;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.slider{
  -webkit-appearance: none;
  width: 98%;
  margin-left: 5px;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.main{
  color: #000000;
  padding:10px;
  display: grid;
  width: 40%;
  margin: 15% 40%;
  border-style: solid;
  border-width: 1px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav div {
  /* padding: 6px 8px 6px 16px; */
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: grid;
}

hr{
  width: 96%;
}

.sidenav div:hover{
  color: #ffffff;
}
